<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Suite" parallel="tests" thread-count="2">

    <!-- Login Tests -->
    <test name="Login Tests">
        <classes>
            <class name="com.seleniumdocker.LoginTest"/>
        </classes>
    </test>

    <!-- Dashboard Tests -->
    <test name="Dashboard Tests">
        <classes>
            <class name="com.seleniumdocker.DashboardTest"/>
        </classes>
    </test>

</suite>